
%header.header#home{ data: { 'stellar-background-ratio' => "0.5" } }
	.overlay-layer
		= render 'application/navbar'
		.container
			.row
				.col-md-7.text-left
					= render 'application/flash'
					.intro-section
						%h2.intro.white-text
							Hi, We're the Parish-Philp Family
						%h4.intro.white-text
							This is our website
						%p.transparent-text
							We're glad you're here
							
						
				.col-md-5.pull-right
					






